.route-form{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:15px;
  background:white;
  padding:25px;
  border-radius:18px;
  box-shadow:0 8px 25px rgba(0,0,0,0.05);
  margin-bottom:30px;
}

.route-form input,
.route-form select{
  padding:15px;
  border:1px solid #cbd5e1;
  border-radius:10px;
}

.route-form button{
  background:#2563eb;
  color:white;
  border:none;
  border-radius:10px;
}